<!DOCTYPE html>
<html lang="vi"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Helios</title>
</head>

<body>
    <h1>HELIOS - 8 NĂM HÀNH TRÌNH CHẾ TÁC THỦ CÔNG BẠC</h1>
    <p>Mỗi món trang sức của Helios đều được chế tác thủ công bởi người thợ kim hoàn lành nghề,
        mang trọn tâm huyết và niềm đam mê trong từng nét chạm khắc tỉ mỉ.</p>

    <a th:href="@{/login}" id="login">Đăng nhập</a>
</body>

</html>