<!DOCTYPE html>
<html lang="vi"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nhà Thuốc Online</title>
</head>



<body>

    <h1>Login</h1>

    <form method="POST" th:action="@{/login}" id="login">
        <label for="username">Tên tài khoản: </label>
        <input type="text" name="username" id="username"/><br/>

        <label for="password">Mật khẩu: </label>
        <input type="password" name="password" id="password"/><br/>

        <input type="submit" value="Đăng nhập"/>
    </form>

</body>

</html>